body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 500px;
}

#row {
    display: flex;
    width: 100%;
    flex: 1;
}

#pixel {
    background-color: white;
    flex: 1;
    border-color: rgb(168, 166, 166);
    border-style: solid;
    border-width: 0.01px;
}


